table {
    width:100%;
    table-layout:fixed;
}
td {
    width:3.2%;
    white-space: nowrap;
}

td div {
  cursor:pointer; overflow:hidden; text-overflow:ellipsis
}

div.tooltip-inner {
    max-width: 350px;
    white-space:normal;
}

.Etab_bg_normal { }
.Etab_bg_3d { background:#BFB273 ; }
.Etab_bg_tournament { background:#6F92BF ; }
.Etab_bg_open { background:#D95F43 ; }

.Etab_wide {
  background: url('/Image_jpg/contents') no-repeat center center scroll;
  /* background-size: 100% 100%; */
  /* width: 100%; */
  /* height: 250px; */
  padding: 100px 0;
}

.Etab_brand {
  font-family: 'Lobster', cursive;
  font-size: xx-large;
}

.Etab_addbutton {
}

.Etab_addlabel {
  margin-top:20px
}

.Etab_strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.Etab_strike > span {
    position: relative;
    display: inline-block;
}

.Etab_strike > span:before,
.Etab_strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: red;
}

.Etab_strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.Etab_strike > span:after {
    left: 100%;
    margin-left: 15px;
}


