table {
    width:100%;
    table-layout:fixed;
}
td {
    width:3.2%;
    white-space: nowrap;
}

td div {
  cursor:pointer; overflow:hidden; text-overflow:ellipsis
}

div.tooltip-inner {
    max-width: 350px;
    white-space:normal;
}
